/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; 
  background-color: #ddd;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.html {width: 90%; background-color: #4CAF50;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 65%; background-color: #f44336;} 
.php {width: 60%; background-color: #808080;} 

.tags {
    padding: 20px;
    width: 380px;
    /* Style for "jQuery" */
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 40px;
  }
  
  .tags a {
    white-space: nowrap;
    /* Style for "Rounded Re" */
    width: auto;
    border-radius: 13px;
    background-color: #114e8b;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffffff;
  }